/*
    Page Header
    ----------------------------------------------
*/
$page-header-size: 19px;
$page-header-weight: 400 !important;

.page-header {
  height: $chronograf-page-header-height;
  width: 100%;
  padding: 0 $page-wrapper-padding;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--zsse-page-header); // $g0-obsidian;
  border: none;
  margin: 0;
}
.page-header.full-width .page-header__container {
  max-width: 100%;
}
.page-header__container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 85%;
  margin-top: 5px;
  margin-left: 75px;
  max-width: 100%;

  .dropdown .dropdown-menu {
    min-width: 100%;
    box-shadow: 0 0px 0px 0px fade-out($g0-obsidian-a, 0);
    border-radius: 2px;
    padding: 0;
    margin: 0;
    border: 0;
    // @include gradient-h($dropdown-default-dark,$dropdown-default-bg);
    background: var(--zsse-sidebar-bg3);
    overflow: hidden;
    display: none;
    position: absolute;
    top: 100%;
  }
  .dropdown.open {
    z-index: 9999;
  }
  .dropdown.open .dropdown-menu {
    display: block;
  }
  // Dropdown Menu Item
  .dropdown-menu li.dropdown-item {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    @extend %no-user-select;

    &:hover,
    &.highlight,
    &.highlight:hover {
      //@include gradient-h($dropdown-default-hover,$dropdown-default-hover);
      background: var(--zsse-sidebar-bg2)
    }
    > a {
      font-size: 13px;
      line-height: 13px;
      transition: color 0.25s ease;
      color: var(--zsse-page-header-text);
      font-weight: 500;
      padding: 7px 9px;
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;

      &, &:hover, &:focus {
        background: none;
        background-color: transparent;
      }
      &.active,
      &.active:hover,
      &:active,
      &:active:hover,
      &:focus:active,
      &:focus:active:hover {
        background: var(--zsse-sidebar-bg3)
      }
    }
    &.active {
      //@include gradient-h($dropdown-default-press,$dropdown-default-bg);
      background: var(--zsse-sidebar-bg1)
    }
  }
}
.page-header__container.page-header__source-page {
  justify-content: center;
}
.page-header__col-md-8 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 992px) {
  /*
    NOTE:
    Breakpoint and % width are based on the bootstrap grid
    If the source form column sizing is ever changed, this
    will have to be manually updated
  */
  .page-header__col-md-8 {
    width: 66.66667%;
  }
}
.page-header__left,
.page-header__right {
  display: flex;
  align-items: center;
}
.page-header__left {
  justify-content: flex-start;
  > * {
    margin: 0 4px 0 0;
  }
  .btn-sm.btn-square, button.btn-sm.btn-square, input.btn-sm.btn-square{
    background-color: var(--zsse-page-header2);
    color: var(--zsse-page-header-text);
  }

  h1{
    font-size: 22px;
    //font-weight: 200 !important;
  }

}
.page-header__right {
  justify-content: flex-end;
  > * {
    margin: 0 0 0 4px !important;

    &:only-child {
      margin-right: 0 !important;
    }
  }

  a.btn-primary, div.btn-primary, button.btn-primary, input.btn-primary{
    color: var(--zsse-page-header-text);
    background-color: var(--zsse-page-header);
    border-bottom: 1px solid var(--zsse-page-header-text);
    border-radius: initial;
  }
  a.btn-default, div.btn-default, button.btn-default, input.btn-default, div.btn-info{
    color: var(--zsse-page-header-text);
    background-color: var(--zsse-page-header);
    border-bottom: 1px solid var(--zsse-page-header-text);
    border-radius: initial;
  }

  .icon {
    color: var(--zsse-page-header-text);
  }

  .btn-sm.btn-square, button.btn-sm.btn-square, input.btn-sm.btn-square{
    background-color: var(--zsse-page-header);
    color: var(--zsse-page-header-text);
  }
}
.page-header__title {
  color: var(--zsse-page-header-text);
  letter-spacing: 0;
  text-transform: none;
  font-size: $page-header-size;
  font-weight: $page-header-weight;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  @include no-user-select();
  cursor: default;
}
.page-header__dismiss {
  width: ($chronograf-page-header-height - 20px);
  height: ($chronograf-page-header-height - 20px);
  position: relative;

  /* Use psuedo elements to render the X */
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: $g11-sidewalk;
    transition: background-color 0.25s ease;
  }
  &:before {
    transform: translate(-50%,-50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  /* Hover State */
  &:hover {
    cursor: pointer;
  }
  &:hover:before,
  &:hover:after {
    background-color: $g18-cloud;
  }
}
