.pxGanttOptions-form {
  fieldset {
    .field {
      display: inline-block;
      &:nth-child(even) {
         width: 30%;
         padding-left: 5px;
      }
      &:nth-child(odd) {
         width: 70%;
      }
    }
  }
}

.pxGantt-tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: $g11-sidewalk !important;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  color: $g5-pepper !important;
}