// ============== pxGantt element ==============
.pxGanttOptions-form {
  fieldset {
    .field {
      display: inline-block;
      &:nth-child(even) {
         width: 30%;
         padding-left: 5px;
      }
      &:nth-child(odd) {
         width: 70%;
      }
    }
  }
}

.pxGantt-tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: $g11-sidewalk !important;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  color: $g5-pepper !important;
}

// ============== pulse element ==============
#pulseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  .pulseHiddenCircle {
    border-radius: 50%;
    position: absolute;
    min-width: 80px !important;
    min-height: 80px !important;
  }
  .pulseCircle {
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    animation: scaleIn .7s infinite cubic-bezier(.36, .11, .89, .32);;
    animation-fill-mode: none;
  }
  .item {
    z-index: 1;
    // padding: 5px;
    p {
      color: var(--zsse-g14-chromium);
      font-family: "Roboto";
      width: 80px;
      text-align: center;
      line-height: 1px;
      margin-top: 20px;
    }
    .number {
      font-size: 40px !important;
      font-weight: 400;
    }
    .unit {
      font-size: 14px !important;
      font-weight: 400;
    }
  }
  @keyframes scaleIn {
    from {
      transform: scale(1, 1);
      opacity: .5;
    }
    to {
      transform: scale(3, 3);
      opacity: 0;
    }
  }
}

// ============== XYChart element ==============
#xychart {
  .js-plotly-plot {
    svg {
      margin-top: -30px;
    }
    .modebar-group {
      background: transparent;
    }
    .modebar {
      background: transparent;
      z-index: 2;
      .modebar-group .modebar-btn .icon path{
        fill: var(--zsse-g9-mountain);
      }
    }
    .xgrid.crisp,
    .ygrid.crisp {
      stroke: var(--zsse-g9-mountain) !important;
    }
    .xaxislayer-above .xtick text,
    .yaxislayer-above .ytick text {
      fill: var(--zsse-g9-mountain) !important;
    }
    .zerolinelayer path{
      stroke: var(--zsse-g15-platinum);
    }
  }
}

.plotly-notifier {
  display: none;
}

// ============== GIS element ==============
.map_balloon {
  background-color: var(--px-base-background-color,#fff) !important;
  h4, strong {
    color:var(--px-base-text-color,#2c404c);
  }
  strong {
    display: block;
  }
  a:link, a:visited {
    color:#007acc
  }
  a:hover {
    color:#005c99
  }
  a:active, a:hover {
    outline:0;
    text-decoration: underline;
  }
}

// ============== Edit/Add PxMiltistat element ==============

.tile_count .count_crushed {
  animation: blinkingText 0.8s infinite;
}

.tile_count .count_stopped {
  color: #fec600 !important;
}

.tile_count .count_running {
  color: #7fae1b !important;
}

@keyframes blinkingText{
  0%{color: #F53844;}
  49%{color: #F53844;}
  50%{color: #42378F;}
  99%{color: #42378F;}
  100%{color: #42378F;}
}
