node_modules/
artifacts/
spec/allSpecs.js
dev/
dist/
log/
.tern-project
yarn-error.log
!bower_components/
bower_components/*
!bower_components/px-kpi/
!bower_components/px-vis-spark/
!bower_components/px-percent-circle/
!bower_components/px-vis-timeseries/
!bower_components/px-vis-radar/
!bower_components/px-inbox/
!bower_components/px-gauge/
!bower_components/polymer-d3-timeline/